<div class="col-sm-5 col-md-6">
  <form>
  <div class="form-group">

    <label for="tipo">Etapa: </label>
    <select name="tipoEtapa" id="etapa" class="form-control" [(ngModel)] = "monstruo.idetapa">
      <option></option>
      <option value="2">Etapa #2</option>
      <option value="3">Etapa #3</option>
    </select>

    <label for="tipo">Tipo: </label>
    <select name="tipoM" id="tipoMonstruo" class="form-control" [(ngModel)] = "monstruo.idtipo">
      <option></option>
      <option value="1">Monstruo</option>
      <option value="2">Archimonstruo</option>
    </select>

  </div>

  <div class="form-group">

    <label for="nombre">Nombre: </label>
    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)] = "monstruo.moob">

    <label for="nombre">Imagen: </label>
    <input type="text" class="form-control" id="img" name="img" placeholder="URL" [(ngModel)] = "monstruo.img">

  </div>
  <button type="submit" class="btn btn-primary" (click)="saveNewMonstruo()">Guardar</button>
  </form>
</div>

<div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
  <div class="card card-body text-center">
    <img [src]="monstruo.img == '' || monstruo.img == null ? 'https://www.wimacpc.com/assets/images/no-disponible.png' : monstruo.img" class="card-img-top">
    <h3>
      {{ monstruo.id }}. {{ monstruo.moob }}
    </h3>
  </div>
</div>