<table class="table table">
  <thead class="table-active">
    <tr>
      <td>N°</td>
      <td>Nombre</td>
      <td>Tipo</td>
      <td>Acción</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let m of Monstruos; index as key">
      <td>{{key+1}}<img [src]="m.img"></td>
      <td>{{ m.moob }}</td>
      <td>{{ m.tipo }}</td>
      <td>
        <button [routerLink] = "['/edit-monstruo/',  m.id]" class="btn btn-danger">Actualizar</button>
    </td>
    </tr>
  </tbody>
</table>

