<table class="table table">
  <thead class="table-active">
    <tr>
      <td>Nombre</td>
      <td>Recompensa</td>
      <td>Acción</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let e of Etapas">
      <td>{{ e.nombre }}</td>
      <td>{{ e.recompensa }}</td>
      <td>
        <a [routerLink]="['/etapa', e.id]" >Destalle</a>
      </td>
    </tr>
  </tbody>
</table>
